.bg-box {
    width: 800px;
    height: 550px;
    background-color: #29700C;
    background-image: url(background.webp), url(green.png), url(lamp.png), url(hedgehog.webp), url(donut.png);
    background-position: center, bottom, top, left, right;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 500px 310px, 190px 100px, 30px 50px, 30px 25px, 30px 30px;
}