@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER STYLES */

header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header_leftside {
  display: flex;
}

.header_leftside--image {
  margin-right: 93px;
}

.header_navigation {
  display: flex;
}

.header_navigation--item a {
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.header_navigation--item a:hover {
  transition: 0.5s;
  color: #2196f3;
}

.header_navigation--item:not(:last-child) {
  margin-right: 50px;
}

.header_rigthside a:not(:last-child) {
  margin-right: 50px;
}

.header_rigthside a {
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.header_rigthside a:hover {
  transition: 0.5s;
  color: #2196f3;
}


/* MAIN STYLES */
.main_container--first {
    display: flex;
    justify-content: center;
    margin: 94px 0 50px 0;
}

.button:not(:last-child) {
    margin-right: 8px;
}

.button a {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 7px 22px 7px 22px;
    transition: .5s;
}

.button a:hover {
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    padding: 7px 22px 7px 22px;
    transition: .5s;
    color: #FFFFFF;
}


/* CARDS */
.main_section {
    max-width: 1170px;
    width: 100%;
    align-items: center;
}

.main_container--second {
    display: flex;
    flex-direction: row;

}

.main_container--card {
    border: 1px solid #EEEEEE;
}

.main_container--card:first-child {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}

.card_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    margin: 20px 24px 4px 24px;
}

.card_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin: 0 24px 20px 24px;
}