.holder {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
    border: 2px solid #000000;
}

.item {
    padding: 10px 0;
}

.item:nth-child(1) {
    flex-basis: 50%;
    background-color: #FD644D;
    border-radius: 18px 0 0 0;
    order: 1;
}

.item:nth-child(5) {
    flex-basis: 50%;
    background-color: #FDA428;
    border-radius: 0 18px 0 0;
    order: 2;
}

.item:nth-child(3) {
    flex-basis: calc(100% / 3);
    background-color: #663797;
    order: 3;
}

.item:nth-child(2) {
    flex-basis: calc(100% / 3);
    background-color: #4983B2;
    order: 4;
}

.item:nth-child(4) {
    flex-basis: calc(100% / 3);
    background-color: #0D7F13;
    order: 5;
}