*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:link {color:inherit}
a:active {color:inherit}
a:visited {color:inherit}
a:hover {color:inherit}

.buttonfirst {
    width: 73px;
    background-color: rgba(33, 150, 243, 1); 
    color: white;
}

button {
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    height: 38px;
    border: none;
}

img {
    width: 340px;
    height: 264px;
}

h3, p {
    padding-left: 14px;
}

main div {
    display: inline-block;
    padding: 19px;
}

p {
    color: rgba(117, 117, 117, 1);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

footer div {
    display: row; 
    justify-content: left; 
    align-items: center; 
    padding-top: 75px; 
    padding-left: 140px;
}

footer a {
    color: rgba(117, 117, 117, 1);
}